nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Administración
        
            a.nav-link(href='bicicletas')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Bicicletas
                

                            
            
                        
    .sb-sidenav-footer
        
        .small Logged in as:
        | Start Bootstrap
