extends ../layouts/dashboard.pug

block content 
    a(href="/bicicletas") Volver

    h1 Nueva Bicicleta

    form(action="/bicicletas/create" method="post")
        .row
            label(for="id") ID:
            input#id(type="text" name="id")
        .row
            label(for="color") Color:
            input#color(type="text" name="color")
        .row
            label(for="modelo") Modelo:
            input#modelo(type="text" name="modelo")
        .row
            label(for="lat") Latitud:
            input#modelo(type="text" name="lat")
        .row
            label(for="lng") Longitud:
            input#modelo(type="text" name="lng")
        .row
            input.btn(type="submit" value="Guardar" class="btn btn-success")