extends ../layouts/dashboard.pug

block content 
    .row
        .col-md-12
            a(href='/bicicletas' class="btn btn-success") Volver
    .row 
        .col-md-12
            h1 Edicion Bicicleta
     

    form(action=`/bicicletas/${bici.id}/update` method='post')
        .row
            label(for="id") ID:
            input#id(type="text" name="id" value=bici.id)
        .row
            label(for="color") Color:
            input#color(type="text" name="color" value=bici.color)
        .row
            label(for="modelo") Modelo:
            input#modelo(type="text" name="modelo" value=bici.modelo)
        .row
            label(for="lat") Latitud:
            input#modelo(type="text" name="lat" value=bici.ubicacion[0])
        .row
            label(for="lng") Longitud:
            input#modelo(type="text" name="lng" value=bici.ubicacion[1])
        .row
            input.btn(type="submit" value="Guardar" class="btn btn-success")